<%- include("partials/header") %>
<%- include("partials/navbar") %>

<main class="conteudo">
  <div class="caixa">
    <h1>Bem-vindo ao Patópolis Wiki!</h1>

    <p>
      Explore todos os personagens do universo do Tio Patinhas e descubra curiosidades incríveis!
    </p>

    <a class="botao" href="/personagens">Ver Personagens</a>
  </div>
</main>

<%- include("partials/footer") %>