<%- include("partials/header") %>
<%- include("partials/navbar") %>

<main class="conteudo">
  <div class="caixa">

    <h1>Sobre o Patópolis Wiki</h1>

    <p>
      O Patópolis Wiki é um site criado para reunir e apresentar os personagens mais marcantes do universo do Tio Patinhas.
    </p>

    <p>
      A ideia do projeto é funcionar como uma espécie de enciclopédia interativa, onde qualquer pessoa pode entrar, navegar e descobrir informações sobre heróis, vilões, inventores e aventureiros.
    </p>

    <h2>Qual é o intuito do site?</h2>

    <p>
      O principal objetivo do Patópolis Wiki é valorizar o universo do Tio Patinhas, trazendo detalhes e curiosidades sobre personagens que marcaram gerações.
    </p>

    <p>
      Muitas vezes lembramos apenas dos personagens principais, mas esse mundo é cheio de figuras importantes e engraçadas como os Irmãos Metralha, Maga Patalójika, e muitos outros.
    </p>

    <h2>Uma homenagem às histórias</h2>

    <p>
      O Patópolis Wiki também serve como uma pequena homenagem ao mundo criado nos quadrinhos e desenhos, que marcou a infância de muitas pessoas e continua sendo uma referência até hoje.
    </p>

    <p>
      Nosso objetivo é expandir cada vez mais essa coleção de personagens, trazendo mais conteúdo e deixando o site cada vez mais completo.
    </p>

    <div class="centralizar">
      <a class="botao" href="/">Voltar para Home</a>
    </div>

  </div>
</main>

<%- include("partials/footer") %>