<header class="topo">
  <div class="logo">
   <img class="logo-img" src="/imgs/carimbo.png" alt="Carimbo do Tio Patinhas">
    <span>Patópolis Wiki</span>
  </div>

  <nav class="menu">
    <a href="/">Home</a>
    <a href="/personagens">Personagens</a>
    <a href="/sobre">Sobre</a>
    <a href="/perfil">Perfil</a>
  </nav>
</header>